/* your code */
table,td,th{
	border-collapse:collapse;
	border:1px solid black;
	padding:5px 10px;
	width:650px;
	
}
th{
	background-color:blue;
	color:white;
}
tr:nth-child(even){
	background-color:lightgrey;
}
